## Session No: 5 --> Tuples, Sets, Dictionary in Python
## This Notebook is Presented By: **Azeem Yaseen**
## Date: 3 - 09 - 2025
## Email: azeemyaseen739@gmail.com

### 1. Tuples
 - A tuple in Python is similar to a list. The main difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we change the elements of a list.

 - In short, a tuple is an immutable list. A tuple can not be changes in any way once it is created.

**The Core Characterstics:**
 - Ordered
 - Unchangeable
 - Allows Duplicate Values

### 2. Plan of Attack
 - Creating  a Tuple
 - Accessing items
 - Editing items
 - Adding items
 - Deleting items
 - Operations on Tuples
 - Tuple Function

##### a. Creating a Tuple:

In [9]:
# empty tuple
t1 = ()
print(t1)
# how to create a tuple with a single item, this is bit different, because if we add single item
# like 2 in parenthesis, then python deal it is as a integer, so to make a tuple with a single
# item we use the comma after a value
# wrong way
t2 = (2)
print(t2)
print(type(t2))
# right way
t2 = (2,)
print(t2)
print(type(t2))
# homogenous tuple
t3 = (1,2,3,4,5)
print(t3)
# hetrogeneous tuple
t4 = (1,True,'hello',3.5,None)
print(t4)
# 2D tuple
t5 = (1,2,3,(4,5))
print(t5)
# making tuple with built-in function
t6 = tuple('hello')
print(t6)

()
2
<class 'int'>
(2,)
<class 'tuple'>
(1, 2, 3, 4, 5)
(1, True, 'hello', 3.5, None)
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

##### b. Accessing items:
 - Indexing
 - Slicing

In [ ]:
t3 = (1,2,3,4,5)
print(t3[0]) # positive indexing
print(t3[-1]) # negative indexing
print(t3[0:4]) # positive slicing
print(t3[0:4:2]) # 2 is the step size
print(t3[-4:-1]) # negative slicing
print(t3[::-1]) # reverse the tuple
print(t3[-3])
t5 = (1,2,3,(4,5))
print(t5[3][0]) # double sqaure brackets

1
5
(1, 2, 3, 4)
(1, 3)
(2, 3, 4)
(5, 4, 3, 2, 1)
(3, 4, 5)
4

##### c. Editing items:

In [ ]:
t3 = (1,2,3,4,5)
t3[0] = 100 # through error
# tuples are immutable just like strings

##### d. Adding items:

In [ ]:
t3 = (1,2,3,4,5)
t3[1] = 200 # through error
# tuples are immutable just like strings, in list you know there are functions that can add
# items like append, extend but if we add item in the tuple then python declare a change in the
# tuple don't allow

##### e. Deleting items:

In [ ]:
# we are able to delete the whole tuple but not able to delete an item
t3 = (1,2,3,4,5)
del t3
t3 = (1,2,3,4,5)
del t3[0] # through an error

##### f. Operations on Tuples:

In [31]:
# Arithematic (+ & *)
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,10)
print(t1 + t2) # merge both tuples together
print(t1*2) # multiple the tuple with tuple and the items can merge together
# Membership (in & not in)
print(1 in t1)
print(1 not in t2)
# loop (for)
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
True
True
1
2
3
4
5

##### g. Tuple functions:

In [ ]:
# len/min/sum/max/sorted
t1 = (1,2,3,4,5)
print(len(t1))
print(min(t1))
print(max(t1))
print(sum(t1))
print(sorted(t1, reverse=True)) # sorting always be in lis

5
1
5
15
[5, 4, 3, 2, 1]

In [ ]:
# count function & index function --> tuple specific
print(t1.count(5)) # tell the ocurrence of an item
print(t1.index(5)) # tell the index of an item

1
4

### 3. Difference between Lists and Tuples
 - Syntax (tuple contain parentheis whereas list contain square brackets)
 - Mutability (tuple are immutable and list are mutable, core difference)
 - Speed 
 - Memory
 - Built-in Functionality (tuple contain less function as compare to list)
 - Error prone (debugging is headache in list, but tuple through less errors)
 - Usability (the programmer use tuple where he know user don't make changes, use list when he know user make changes again and again).

In [48]:
# Tuples are more fast then list, because generally immutable data types are more fast then
# mutable data types
import time 

L = list(range(10000000))
T = tuple(range(10000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 3.388899087905884
Tuple time 3.306030750274658

In [45]:
# tuple is more space efficient then list
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [ ]:
# list are mutable that's why we see this strange response, so debugging is difficult in list
# as compare to tuple
a = [1,2,3]
b = a
a.append(4)
print(a)
print(b)
# the tuple don't show any strange behaviour because it don't allow changes
a = (1,2,3)
b = a
a = a + (5,)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
(1, 2, 3, 5)
(1, 2, 3)

##### Special Syntax:

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)
# famous swapping syntax
a = 1
b = 2
a,b = b,a
print(a,b)

1 2 3
2 1
1 2 3

In [ ]:
# this functionality help us to store those value that we need
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [55]:
# zipping tuples
t1 = (1,2,3)
t2 = (4,5,6)
print(tuple(zip(t1,t2)))

((1, 4), (2, 5), (3, 6))

### 4. Sets
 - A set is an unordered collection of items. Every set element is unique (no duplicate) and must be immutable (cannot be changed).

 - However, a set itself is a mutable. We can add or remove items from it.

 - Sets can also be used to perform mathematical set operations like union, intersections, symmetric, difference, etc.

**Core Characterstics:**
 - Unordered
 - Mutable
 - No Duplicate
 - Can't contain mutable data types

##### a. Creating Sets:

In [73]:
# empty set
s = set() # if you use empty curly braces to make a empty set then python by default make it dict
print(s)
print(type(s))
# 1D & 2D set
s1 = {1,2,3}
print(s1)
# python through an error because tuple don't allowed mutable items inside
# s2 = {1,2,3,{4,5}}
# print(s2)
# homogenous and hetrogenous
s1 = {1,2,3,4,5}
print(s1)
# in the output we don't see the value of true because python consider true as 1, so 1 also present
# in the set. So, set don't allow duplicates that's why it remove true.
# We also see a different order, there is a algorithm hashing that decide the place of every item
# so it is not in our hand, it is by default
s1 = {1,'hello',3.5,True,(1,2,3)}
print(s1)
# creating tuple with built in function
s1 = set([1,2,3])
print(s1)
# duplicates not allowed
s1 = {1,2,3,1,2,3}
print(s1)
# set can't have mutable items
# s1 = {1,2,3,[1,2,3]}
# print(s1) through an error

set()
<class 'set'>
{1, 2, 3}
{1, 2, 3, 4, 5}
{1, 3.5, 'hello', (1, 2, 3)}
{1, 2, 3}
{1, 2, 3}

In [75]:
# order don't matter in sets
s1 = {1,2,3}
s2 = {3,2,1}
print(s1 == s2)

True

##### b. Accessing items:

In [ ]:
# sets are unordered, that's why the indexing and slicing not work and python through an error
# It means if the item go in sets then we don't able to extract it or see it separately.
s1 = {1,2,3}
print(s1[0]) # through an error

##### c. Editing items:

In [ ]:
# sets are unordered that's why indexing not work, and if indexing not work then we are don't
# able to change any item on the bases of index in the set.
s1 = {1,2,3,4}
s1[0] = 100 # python through an error

##### d. Adding items:

In [ ]:
# add function, allow to add one item, and hashing control the place of the element in the set
s1 = {1,2,3,4}
s1.add(5)
print(s1)
# update function, allow to add multiple items in a set
s1.update([5,6,7])
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

##### e. Deleting items:

In [88]:
# del
s1 = {1,2,3,4,5}
del s1
# del s1[0] python don't allow to delete the particular value because indexing not work
# discard, allow to remove the particular item directly from the set
s1 = {1,2,3,4,5}
s1.discard(5)
s1.discard(50) # if the value is don't present in the set, then it don't through an error
print(s1)
# remove is similar to discard, but it through an error for the not present value
s1 = {1,2,3,4,5}
s1.remove(5)
# s1.remove(50)
print(s1)
# pop, it remove the item with their decision
s1 = {1,2,3,4,5}
s1.pop()
print(s1)
# clear, make the set empty
s1 = {1,2,3,4}
s1.clear()
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4}
{2, 3, 4, 5}
set()

##### f. Set Operation:

In [10]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# union (|) -> all the items that come once, no duplicates
print(s1 | s2)
# intersection (&) -> common items only
print(s1 & s2)
# difference (-) -> s1 items that don't present in s2, and viceversa
print(s1 - s2)
# Symmetric Difference (^) -> left the commons in both, and print remanining
print(s1 ^ s2)
# Membership test
print(1 in s1)
print(1 not in s1)
# Iteration
for i in s1:
    print(i,end=' ')

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
True
False
1 2 3 4 5

##### g. Set Functions:

In [17]:
# len/min/max/sum/sorted
s1 = {3,4,8,6,1,8,7}
print(len(s1))
print(min(s1))
print(max(s1))
print(sum(s1))
print(sorted(s1,reverse=True))

6
1
8
29
[8, 7, 6, 4, 3, 1]

In [ ]:
# union / update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.union(s2))
# update function can make a permanent change in s1 they include the union result in s1 and
# left s2 the same
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# intersection / intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.intersection(s2))
# intersection_update can make a permanent change in s1 by including the intersection result
# in s1 and left s2 the same
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# difference / difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.difference(s2))
# difference_update can make a permanent change in s1 by including the difference result
# in s1 and left s2 the same
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [29]:
# symmetric_difference / symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.symmetric_difference(s2))
# symmetric_difference_update can make a permanent change in s1 by including the symmetric_difference
# result in s1 and left s2 the same
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# isdisjoint function
s1 = {1,2,3,4}
s2 = {7,8,5,6}
# this function tell that both sets have common values or not, say true > no common values exist
print(s1.isdisjoint(s2))

True

In [ ]:
# issubset function
s1 = {1,2,3,4,5}
s2 = {3,4,5}
# this function tell that s1 not become the subset of s2, because of 1 and 2 values, that don't
# exist in s2, if it is alternative then s2 is able to become subset of s1.
print(s1.issubset(s2))

False

In [ ]:
# issuperset function
s1 = {1,2,3,4,5}
s2 = {3,4,5}
# this function tells that s1 is a superset as compare to s2, because s1 contain more values
print(s1.issuperset(s2))

False

In [40]:
# copy function
s1 = {1,2,3}
s2 = s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

### 5. Frozenset
 - Frozen set is just an immutable version of a Python set object

In [42]:
# create frozenset
fs = frozenset([1,2,3])
print(fs)

frozenset({1, 2, 3})

In [ ]:
# what works and what does not
# works --> all read functions
# doesn't work --> write operations

In [53]:
# when to use frozenset: Use sets when the mutability is required & use frozenset where
# immutability is required
# 2D frozenset
fs = frozenset([1,2,frozenset([3,4])])
print(fs)

frozenset({frozenset({3, 4}), 1, 2})

### 6. Set Comprehension

In [ ]:
# example
{i**2 for i in range(1,11) if i > 5}

{36, 49, 64, 81, 100}

### 7. Dictionary
 - Dictionary in Python is a collection of keys values, used to store data values like a map, which unlike other data types which hold only a single value as an element.

 - In some languages it is known as map or assosiative arrays.

 - Dict = {'name':'azeem','age':18,'gender':'male'}

**Characterstics:**
 - Mutable
 - Indexing has no meaning
 - keys can't be duplicated
 - keys can't be mutable items

##### a. Creating Dictionary:

In [ ]:
# empty dictionary
d1 = {}
print(d1)
# 1D dictionary
d2 = {'name':'azeem','age':18,'gender':'male'}
print(d2)
# dictionary with mixed key values
d3 = {(1,2,3):1,'hello':'world'}
print(d3)
# 2D dictionary --> JSON file contain data like this
d4 = {
    'name':'azeem',
    'identity':{
        'hair':'black',
        'skin color':'white',
        'clothes':'pent shirt'
    }
}
print(d4)
# creating dictionary with built-in dict function
d5 = dict(name='azeem',age=18,gender='male') # python through an error because i use dict keyword as a variable
print(d5)
# duplicate key values are not allowed
d6 = {'name':'azeem','name':'ahmad'} # it only print one key value pair and first is ignored
print(d6)
# dictionary don't allow mutable keys
# d7 = {['1,2,3']:1,(1,2,3):2} # python through an error
# print(d7)

##### b. Accessing items:

In [ ]:
my_dict = {'name':'azeem','age':18}
# on the basis of indexing we are not able to fetch or access any item from the dictionary, because index has no meaning,
# so on the other hand we use 2 methods to fetch items from the dictionary
# method 1 --> [] --> enter the key and get their value
print(my_dict['name'])
# method 2 --> get function --> enter the key get the value, similar to method 1
print(my_dict.get('age'))
# accessing items from 2D Dictionary
print(d4)
print(d4['identity']['hair'])

azeem
18
{'name': 'azeem', 'identity': {'hair': 'black', 'skin color': 'white', 'clothes': 'pent shirt'}}
black

##### c. Adding key-value pair:

In [116]:
# here is the syntax to add the new key-value pair in the existing dictionary
my_dict = {'name':'azeem','age':18}
my_dict['gender'] = 'male'
my_dict['weight'] = 40
print(my_dict)
# Adding key value pair in 2D dictionary
d4['identity']['shoes'] = 'softy'
print(d4)

{'name': 'azeem', 'age': 18, 'gender': 'male', 'weight': 40}
{'name': 'azeem', 'identity': {'hair': 'black', 'skin color': 'white', 'clothes': 'pent shirt', 'shoes': 'softy'}}

##### d. Remove key-value pair:

In [117]:
my_dict = {'name':'azeem','age':18,'gender':'male','weight':40}
# pop function remove the key value pair when we pass the key
my_dict.pop('name')
print(my_dict)
# popitem function automatically remove the last key value pair from the dictionary
my_dict.popitem()
print(my_dict)
# del function remove the whole dictionary but also allow us to remove the specific key value pair
del my_dict['age']
print(my_dict)
# clear function remove all the key value pair and make the dictionary empty
my_dict.clear()
print(my_dict)
# removing key value pair from 2D dictionary
del d4['identity']['clothes']
print(d4)

{'age': 18, 'gender': 'male', 'weight': 40}
{'age': 18, 'gender': 'male'}
{'gender': 'male'}
{}
{'name': 'azeem', 'identity': {'hair': 'black', 'skin color': 'white', 'shoes': 'softy'}}

##### e. Editing key value pair:

In [119]:
my_dict = {'name':'azeem','age':18,'gender':'male','weight':40}
my_dict['name'] = 'ahmad'
print(my_dict)
d4['identity']['shoes'] = 'jogar'
print(d4)

{'name': 'ahmad', 'age': 18, 'gender': 'male', 'weight': 40}
{'name': 'azeem', 'identity': {'hair': 'black', 'skin color': 'white', 'shoes': 'jogar'}}

##### f. Dictionary Operations:
 - Membership
 - Iteration

In [132]:
my_dict = {'name':'azeem','age':18,'gender':'male','weight':40}
# membership operators work on key values
print('name' in my_dict)
print('name' not in my_dict)
# iteration also work on keys
for i in my_dict:
    print(i,my_dict[i]) # this is the smart way to also print values with keys

True
False
name azeem
age 18
gender male
weight 40

##### g. Dictionary Functions:

In [ ]:
# len / min / max / sorted functions
my_dict = {'name':'azeem','age':18,'gender':'male','weight':40}
print(len(my_dict)) # tell the length by counting key values only
print(min(my_dict)) # both min and max values come on the basis of ascii value
print(max(my_dict))
print(sorted(my_dict,reverse=True))

4
age
weight
['weight', 'name', 'gender', 'age']

In [140]:
# items / keys / values functions, these functions are super useful and use a lot
my_dict = {'name':'azeem','age':18,'gender':'male','weight':40}
print(my_dict.items()) # can convert the dict to list and convert each value pair into tuples
print(my_dict.keys()) # print all the keys in list
print(my_dict.values()) # print all the values in list

dict_items([('name', 'azeem'), ('age', 18), ('gender', 'male'), ('weight', 40)])
dict_keys(['name', 'age', 'gender', 'weight'])
dict_values(['azeem', 18, 'male', 40])

In [142]:
# update function allow you to update the given dictionary with the specific dictionary
d1 = {1:2,2:3,4:4}
d2 = {4:7,6:8}
d1.update(d2)
print(d1)

{1: 2, 2: 3, 4: 7, 6: 8}

### 8. Dictionary Comprehension

In [143]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [144]:
# how to run a dictionary comprehension on existing dictionary
distances = {'delhi':1000,'mumbai':2000,'kolkata':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'kolkata': 1860.0}

In [ ]:
# creating a dictionary through zip function and dictionary comprehension
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
temp_C = [35.0,33.2,40.4,25.6,38.9,42.1,43.5]
{i:j for (i,j) in zip(days,temp_C)}

{'monday': 35.0,
 'tuesday': 33.2,
 'wednesday': 40.4,
 'thursday': 25.6,
 'friday': 38.9,
 'saturday': 42.1,
 'sunday': 43.5}

In [147]:
# using if condition
products = {'phone':10,'tablet':5,'laptop':15,'headphones':20}
{key:value for (key,value) in products.items() if value > 5}

{'phone': 10, 'laptop': 15, 'headphones': 20}

In [148]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}